#picture__input{
    opacity: 0;
}

.picture {
    width: 140px;
    border-radius: 100px;
    height: 140px;
    aspect-ratio: 16/9;
    background: #D1D1D1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px solid var(--black-default);
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
}

.picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
    max-width: 100%;
}

.add-photo-icon{
    position: relative;
    top: 5px;
    left: 10px;
}

.uploadContainer{
    width: 140px;
    height: 140px;
}